.contentCBox {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: rgb(218, 216, 217);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  flex-direction: row;
}
.recipientHome {
  color: black;

  text-align: start;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}
.recipientHome p {
  height: 30px;
  margin-bottom: 0;
  /* transform: translateX(-27px); */
  height: max-content;
  width: 80%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subjectHome {
  color: black;
  width: 48%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subjectHome p {
  height: 30px;
  margin-bottom: 0;
  transform: translateX(-5px);
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scheduleHome {
  color: black;
  width: 25%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.scheduleHome p {
  height: 30px;
  margin-bottom: 0;
  transform: translateX(-2px);
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 900px) {
  .contentCBox {
    flex-direction: column;
    height: 96px;
    text-align: center;
    /* align-items: flex-start; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .contentCBox p {
    transform: translateX(0);
    text-align: start;
    width: 100%;
  }
  .recipientHome {
    width: 100%;
    padding: 0;
  }
  .recipientHome p {
    height: 25px;
    /* display: flex;
    align-items: center; */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .recipientHome p::before {
    content: "To:";
    font-weight: bold;
    margin-right: 6px;
  }
  .subjectHome {
    width: 100%;
  }
  .subjectHome p {
    height: 25px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* display: flex;
    align-items: center; */
    font-weight: 500;
  }
  .subjectHome p::before {
    content: "Subject:  ";
    font-weight: bold;
    margin-right: 6px;
  }
  .scheduleHome {
    width: 100%;
  }
  .scheduleHome p {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .scheduleHome p::before {
    content: "Scheduled:";
    font-weight: bold;
    margin-right: 6px;
  }
}
