@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.homeContainer0 {
  position: relative;
  min-height: 70vh;
  background-color: rgb(188, 188, 188);
  margin-top: 30px;
  border-radius: 10px;
}
.homeBackground {
  position: fixed;
  inset: 0;
  z-index: -1;
  /* background-color: red; */
  /* background-color: rgb(218, 216, 217); */
}
.contHead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(59, 59, 59);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}

.recipientHead {
  color: white;
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border-right: 3px solid white;
  height: 70%;
}
.subjectHead {
  width: 48%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border-right: 3px solid white;
  height: 70%;
}
.scheduleHead {
  width: 25%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  height: 70%;
}
.homeContainers {
  padding-top: 70px;
  padding-bottom: 20px;
}
.mainContainer {
  padding-top: 0;
  margin-top: 40px;
  position: relative;
}
.search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search input {
  background-color: #fff;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 35px;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  /* transform: translateX(-20px); */
}
.search input::placeholder {
  color: #3b3e43;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.searchIcon {
  transform: translate(25px, 0.5px);
}

@media screen and (max-width: 900px) {
  .contHead {
    display: none;
  }
  .homeContainers {
    padding-top: 10px;
  }
  .homeContainer0 {
    padding-top: 15px !important;
  }
  .search {
    justify-content: center;
  }
  .search input {
    width: 96%;
    /* transform: translateX(-8px); */
  }
  .searchIcon {
    transform: translate(0, 0);
    position: absolute;
    z-index: 11;
    /* left: 26px; */
    top: 12px;
    left: 19px;
  }
}

@media screen and (max-width: 450px) {
  .mainContainer {
    margin-top: 30px;
  }
}
