@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

#templateContainer {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#description h2 {
  font-family: "Roboto";
  color: #3b3e43;
  font-size: 50px;
  text-align: start;
}

#description h4 {
  margin-top: 10px;
  font-family: "Poppins";
  font-weight: 300;
  color: #3b3e43;
  font-size: 30px;
  text-align: start;
}

#templateBtn {
  border-radius: 10px;
  background-color: #3b3e43;
  font-family: "Poppins";
  border: none;
  color: #eaeaea;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
#templateBtnContainer a button {
  width: 100%;
  margin-left: 0;
  padding: 5px;
}

#templateBtn:hover {
  background-color: #282a2c;
}

#infographic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 962px) {
  #description h2 {
    font-size: 40px;
  }
  #description h4 {
    font-size: 20px;
  }

  #infographic {
    margin-top: 45px;
  }
}
