.contentCBox {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: rgb(218, 216, 217);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  flex-direction: row;
}
.recipientHistory {
  color: #3b3e43;

  text-align: start;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
.recipientHistory p {
  height: 30px;
  margin-bottom: 0;
  /* transform: translateX(-27px); */
  height: max-content;
  width: 80%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subjectHistory {
  color: #3b3e43;
  width: 48%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subjectHistory p {
  height: 30px;
  margin-bottom: 0;
  transform: translateX(-5px);
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scheduleHistory {
  color: #3b3e43;
  width: 25%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.scheduleHistory p {
  height: 30px;
  margin-bottom: 0;
  transform: translateX(-2px);
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 900px) {
  .contentCBox {
    flex-direction: column;
    height: 96px;
    text-align: center;
    /* align-items: flex-start; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .contentCBox p {
    transform: translateX(0);
    text-align: start;
    width: 100%;
  }
  .recipientHistory {
    width: 100%;
    padding: 0;
  }
  .recipientHistory p {
    height: 25px;
    /* display: flex;
      align-items: center; */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .recipientHistory p::before {
    content: "To:";
    font-weight: bold;
    margin-right: 6px;
  }
  .subjectHistory {
    width: 100%;
  }
  .subjectHistory p {
    height: 25px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* display: flex;
      align-items: center; */
    font-weight: 500;
  }
  .subjectHistory p::before {
    content: "Subject:  ";
    font-weight: bold;
    margin-right: 6px;
  }
  .scheduleHistory {
    width: 100%;
  }
  .scheduleHistory p {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .scheduleHistory p::before {
    content: "Sent on:";
    font-weight: bold;
    margin-right: 6px;
  }
}
