.contMonthOut {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dateDrop {
  background-color: rgb(59, 62, 67);
  outline: none;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 1rem;
  text-align: center;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  color: white;
  margin: 10px;
}
.monthlyContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .monthlyContainer {
    margin-top: 0px;
  }
}
