.contRecOut {
  width: 100%;
}
.recContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.timeSelect {
  background-color: rgb(59, 62, 67);
  color: white;
  width: 120px;
  border: none;
  border-radius: 5px;
  height: 35px;
  outline: none;
  padding-left: 10px;
}
