@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

#card {
  display: flex;
  background-color: #eaeaea;
  height: 450px;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#logoTagline {
  color: #3b3e43;
  font-weight: 500;
  font-size: 1.5em;
  font-family: "Poppins";
}
.LIbtns {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
.LIbtns-container {
  margin-bottom: 40px;
}
.enabled {
  border-bottom: 2px solid #3a3d42;
}
#g-btn {
  background-color: #d92c24;
  transition: all 0.1s ease-in;
  border: none;
}
#g-btn:hover {
  background-color: #9c251e;
}
